.macbook-pro-14-4-child {
    position: absolute;
    top: 181px;
    left: 424px;
    border-radius: var(--br-31xl);
    background-color: var(--color-white);
    width: 688px;
    height: 631px;
  }
  .macbook-pro-14-4-item {
    position: absolute;
    top: 704px;
    left: 622px;
    background-color: var(--color-gray);
    width: 297px;
    height: 60px;
    cursor: pointer;
  }
  .change-password {
    position: absolute;
    top: 719px;
    left: 691px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .macbook-pro-14-4-inner {
    position: absolute;
    top: 562px;
    left: 572px;
    background-color: var(--color-gainsboro);
    width: 409px;
    height: 47px;
  }
  .new-password,
  .rectangle-icon {
    position: absolute;
    top: 577px;
    left: 587px;
  }
  .rectangle-icon {
    top: 574px;
    left: 947px;
    width: 25px;
    height: 23px;
    object-fit: cover;
  }
  .rectangle-div {
    position: absolute;
    top: 633px;
    left: 572px;
    background-color: var(--color-gainsboro);
    width: 409px;
    height: 47px;
  }
  .confirm-password {
    position: absolute;
    top: 648px;
    left: 587px;
  }
  .macbook-pro-14-4-child1 {
    position: absolute;
    top: 645px;
    left: 947px;
    width: 25px;
    height: 23px;
    object-fit: cover;
  }
  .macbook-pro-14-4-child2 {
    position: absolute;
    top: 420px;
    left: 572px;
    background-color: var(--color-gainsboro);
    width: 409px;
    height: 47px;
  }
  .admin123 {
    position: absolute;
    top: 436px;
    left: 587px;
  }
  .macbook-pro-14-4-child3 {
    position: absolute;
    top: 491px;
    left: 572px;
    background-color: var(--color-gainsboro);
    width: 409px;
    height: 47px;
  }
  .old-password {
    position: absolute;
    top: 506px;
    left: 587px;
  }
  .macbook-pro-14-4-child4 {
    position: absolute;
    top: 503px;
    left: 947px;
    width: 25px;
    height: 23px;
    object-fit: cover;
  }
  .macbook-pro-14-4-child7 {
    position: absolute;
    top: 179px;
    left: 422px;
    border-radius: var(--br-31xl) var(--br-31xl) 0 0;
    background-color: var(--color-gray);
    width: 690px;
    height: 134px;
  }
  .accreditation {
    position: absolute;
    top: 197px;
    left: 646px;
    font-size: var(--font-size-29xl);
    font-weight: 800;
    color: var(--color-white);
  }
  .change-password1,
  .r-e-p {
    position: absolute;
    display: inline-block;
  }
  .r-e-p {
    top: 255px;
    left: 701px;
    font-size: var(--font-size-xl);
    font-weight: 100;
    color: var(--color-white);
    width: 364px;
  }
  .change-password1 {
    top: 335px;
    left: 641px;
    font-size: var(--font-size-13xl);
    text-align: center;
    width: 296px;
    height: 33px;
  }
  .macbook-pro-14-4-child8 {
    position: absolute;
    top: 195px;
    left: 476px;
    width: 111px;
    height: 97px;
    object-fit: cover;
  }
  .macbook-pro-14-4 {
    position: relative;
    background-color: var(--color-darkseagreen);
    width: 100%;
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  