.macbook-pro-14-3-child {
    position: absolute;
    top: 181px;
    left: 424px;
    border-radius: var(--br-31xl);
    background-color: var(--color-white);
    width: 688px;
    height: 631px;
  }
  .macbook-pro-14-3-item {
    position: absolute;
    top: 707px;
    left: 608px;
    background-color: var(--color-gray);
    width: 297px;
    height: 60px;
    cursor: pointer;
  }
  .done {
    position: absolute;
    top: 725px;
    left: 726px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .macbook-pro-14-3-inner {
    position: absolute;
    top: 438px;
    left: 566px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 409px;
    height: 40px;
  }
  .macbook-pro-14-3-child1,
  .rectangle-div {
    position: absolute;
    top: 390px;
    left: 565px;
    background-color: var(--color-gainsboro);
    width: 409px;
    height: 40px;
  }
  .macbook-pro-14-3-child1 {
    top: 486px;
  }
  .macbook-pro-14-3-child2,
  .rectangle-icon {
    position: absolute;
    top: 396px;
    left: 941px;
    width: 29px;
    height: 24px;
    object-fit: cover;
  }
  .macbook-pro-14-3-child2 {
    top: 494px;
    height: 25px;
  }
  .in-what-city,
  .what-is-the {
    position: absolute;
    top: 403px;
    left: 580px;
    display: inline-block;
    width: 196px;
    height: 15px;
  }
  .what-is-the {
    top: 499px;
    width: 271px;
  }
  .macbook-pro-14-3-child3 {
    position: absolute;
    top: 583px;
    left: 566px;
    background-color: var(--color-gainsboro);
    width: 409px;
    height: 40px;
  }
  .macbook-pro-14-3-child4 {
    position: absolute;
    top: 591px;
    left: 942px;
    width: 29px;
    height: 24px;
    object-fit: cover;
  }
  .what-is-your {
    position: absolute;
    top: 596px;
    left: 581px;
    display: inline-block;
    width: 262px;
    height: 15px;
  }
  .macbook-pro-14-3-child5 {
    position: absolute;
    top: 179px;
    left: 422px;
    border-radius: var(--br-31xl) var(--br-31xl) 0 0;
    background-color: var(--color-gray);
    width: 690px;
    height: 134px;
  }
  .accreditation {
    position: absolute;
    top: 197px;
    left: 646px;
    font-size: var(--font-size-29xl);
    font-weight: 800;
    color: var(--color-white);
  }
  .r-e-p,
  .security-questions {
    position: absolute;
    display: inline-block;
  }
  .r-e-p {
    top: 255px;
    left: 701px;
    font-size: var(--font-size-xl);
    font-weight: 100;
    color: var(--color-white);
    width: 364px;
  }
  .security-questions {
    top: 335px;
    left: 641px;
    font-size: var(--font-size-13xl);
    text-align: center;
    width: 296px;
    height: 33px;
  }
  .macbook-pro-14-3-child6 {
    position: absolute;
    top: 195px;
    left: 476px;
    width: 111px;
    height: 97px;
    object-fit: cover;
  }
  .line-div {
    position: absolute;
    top: 465.5px;
    left: 580.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 377px;
    height: 1px;
  }
  .macbook-pro-14-3-child7 {
    position: absolute;
    top: 531px;
    left: 565px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 409px;
    height: 40px;
  }
  .macbook-pro-14-3-child8 {
    position: absolute;
    top: 558.5px;
    left: 579.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 377px;
    height: 1px;
  }
  .macbook-pro-14-3-child9 {
    position: absolute;
    top: 631px;
    left: 565px;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 409px;
    height: 40px;
  }
  .macbook-pro-14-3-child10 {
    position: absolute;
    top: 658.5px;
    left: 579.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 377px;
    height: 1px;
  }
  .macbook-pro-14-3 {
    position: relative;
    background-color: var(--color-darkseagreen);
    width: 100%;
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  