body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-xl: 20px;
    --font-size-29xl: 48px;
    --font-size-13xl: 32px;
  
    /* Colors */
    --color-darkseagreen: #93b587;
    --color-navy: #0f259a;
    --color-white: #fff;
    --color-gray: #031c01;
    --color-black: #000;
    --color-gainsboro: #d9d9d9;
  
    /* border radiuses */
    --br-31xl: 50px;
  }
  